/*Responsive*/
@media only screen and (max-width: 1023px) {
  .service-item-title {
    font-size: 90%;
  }
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 90%;
  }
  .container {
    margin: 0 5%;
  }
  .header-top-right {
    padding-right: 0;
  }
  .header-social-list {
    display: none;
  }
  .page-main {
    font-size: 90%;
  }
  .service-item {
    width: calc(100% / 2 - 1em);
  }
  .service-item:last-child {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  body {
    font-size: 90%;
  }
  .header-menu {
    display: none;
  }
  .main-right {
    width: 100%;
  }
  .service-item {
    width: calc(100% - 1em);
  }
  .header-top-right {
    display: none;
  }
  .service-item:last-child {
    display: none;
  }
  .sidebar-left {
    display: none;
  }
  .page-footer {
    font-size: 90%;
  }
  .footer-author {
    display: none;
  }
}
