@charset "UTF-8";
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

/* @font-face {
  font-family: 'Roboto';
  src: url(roboto.ttf);
} */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.homepage .main-content .service-item, .sidebar-left .menu-item .menu-item-title, .sidebar-left, .page-footer .footer-info .info-item, .header-bottom .header-social-list .header-social-item, .header-bottom .header-menu .header-menu-item, .header-top .header-top-right .ic-tele, .header-top .top-logo .img-logo, .pull-left {
  float: left;
}

.homepage .main-content .main-right, .sidebar-left .dropdown-title .minus, .header-top .header-top-right .t-r-info, .header-top .top-logo .h-top-info, .pull-right {
  float: right;
}

.txt-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}

h1 {
  font-size: 20.8px;
}

h2 {
  font-size: 19.2px;
}

.section-breadcrumb {
  background-image: url("../images/banner.png");
}

.breadcrumb-item {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  padding: 60px 0 60px 14px;
  font-size: 12px;
}
.breadcrumb-item + .breadcrumb-item:before {
  padding: 0 8px 0 0;
  color: #000;
  content: "/   ";
}

.btn-more {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #62c6f8;
  color: #fff;
}

.btn-send {
  padding: 10px;
  text-transform: uppercase;
  width: 50%;
  background-color: #4bbc56;
}

.sidebar-left-form {
  background-color: #d9e4e9;
  padding: 16px;
}
.sidebar-left-form .sb-form-title:after {
  margin: 16px 0 0;
  display: block;
  content: "";
  width: 30%;
  border: 1px solid #62c6f8;
}
.sidebar-left-form .form-book-schedule {
  padding-top: 8px;
}
.sidebar-left-form .form-book-schedule .input-control {
  padding: 10px 16px 0 0;
}
.sidebar-left-form .form-book-schedule .input-control-item {
  width: 100%;
  padding: 5px;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.header-top {
  width: 100%;
  padding: 16px 0 8px;
  /*TOP LEFT*/
}
.header-top .top-logo .img-logo {
  padding: 16px;
}
.header-top .top-logo .h-top-info {
  padding: 24px 0 0;
}
.header-top .top-logo .top-info-title {
  display: block;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 8px;
}
.header-top .header-top-right {
  padding: 32px;
}
.header-top .header-top-right .ic-tele {
  display: block;
}
.header-top .header-top-right .t-r-info {
  line-height: 32px;
}
.header-top .header-top-right .t-r-info:before {
  content: " ";
}

/*TOP-RIGHT*/
.header-bottom {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
}
.header-bottom .header-menu .header-menu-item {
  padding: 0 16px;
  border-right: 1px solid #e9e9e9;
}
.header-bottom .header-menu .header-menu-item:last-child {
  border-right: 0;
}
.header-bottom .header-menu .menu-link {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 10.4px;
  line-height: 60px;
}
.header-bottom .header-menu .menu-link:hover {
  color: #62c6f8;
}
.header-bottom .header-social-list {
  padding: 16px 0;
}
.header-bottom .header-social-list .header-social-item {
  padding: 0 4px;
}

.page-footer {
  background-color: #62c6f8;
  padding: 16px 0 0;
}
.page-footer .footer-info {
  padding: 48px;
}
.page-footer .footer-info .info-item {
  width: calc(100% / 3);
}
.page-footer .footer-info .sub-info-item {
  padding: 6.4px 0;
  cursor: pointer;
}
.page-footer .footer-info .sub-info-item:before {
  content: "•";
  color: #fff;
  padding-right: 5px;
}
.page-footer .footer-info .footer-link {
  color: #fff;
}
.page-footer .footer-info .info-item-title {
  padding-bottom: 16px;
}
.page-footer .footer-content {
  padding: 20px 0;
}
.page-footer .footer-bottom {
  padding: 0 0 20px;
  border-top: 1px solid #fff;
}
.page-footer .footer-bottom .footer-address {
  padding: 24px 0;
  line-height: 120%;
}

.info-link, .footer-copyright, .footer-author {
  text-transform: uppercase;
}

/* Sidebar */
.sidebar-left {
  width: 25%;
}
.sidebar-left .dropdown-title {
  background-color: #d9e4e9;
  padding: 16px;
}
.sidebar-left .dropdown-title .minus {
  background-color: #d9e4e9;
  border: 0;
}
.sidebar-left .dropdown-content {
  padding: 16px 0 32px;
}
.sidebar-left .dropdown-content .category-item {
  padding: 10px 5px;
}

.txt-white {
  color: #fff;
}

.txt-primary {
  color: #62c6f8;
}

.page-main {
  padding-bottom: 32px;
}

.homepage .main-content {
  padding: 64px 0 0;
}
.homepage .main-content .main-right {
  width: 75%;
}
.homepage .main-content .service-item {
  width: calc(100% / 3 - 16px);
  padding-bottom: 16px;
  position: relative;
  box-shadow: 1px 1px 1px #808080;
  margin-left: 16px;
  margin-bottom: 16px;
}
.homepage .main-content .service-item .service-content {
  padding: 4%;
  padding-bottom: 8%;
}
.homepage .main-content .service-item .service-content h3 {
  padding-bottom: 4%;
}
.homepage .main-content .service-item .service-content p {
  font-size: 12px;
  line-height: 130%;
}
.homepage .service-image {
  width: 100%;
  height: 180px;
}

/*# sourceMappingURL=styles.css.map */
