@charset "UTF-8";
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

/* @font-face {
  font-family: 'Roboto';
  src: url(roboto.ttf);
} */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
}

h1 {
  font-size: 20.8px;
}

h2 {
  font-size: 19.2px;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.txt-footer {
  color: #fff;
}

.txt-primary {
  color: #62c6f8;
}

.header-top {
  width: 100%;
  padding: 16px 0 8px;
}

/*TOP LEFT*/
.top-logo {
  float: left;
}

.img-logo {
  float: left;
  padding: 16px;
}

.h-top-info {
  float: right;
  padding: 24px 0 0;
}
.h-top-info b {
  display: block;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 8px;
}

/*TOP-RIGHT*/
.header-top-right {
  float: right;
  padding: 32px;
}

.ic-tele {
  display: block;
  float: left;
}

.t-r-info {
  float: right;
  line-height: 32px;
}
.t-r-info:before {
  content: " ";
}

.header-bottom {
  border-bottom: 1px solid #e9e9e9;
}
.header-bottom:before {
  content: "";
  display: block;
  border-top: 1px solid #e9e9e9;
}

.header-menu {
  float: left;
}

.header-social-list {
  float: right;
}

.header-menu-item {
  float: left;
  padding: 0 16px 0;
  border-right: 1px solid #e9e9e9;
}
.header-menu-item:last-child {
  border-right: 0;
}
.header-menu-item a {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 10.4px;
  line-height: 60px;
}
.header-menu-item a:hover {
  color: #62c6f8;
}

.header-social {
  float: right;
}

.header-social-list {
  padding: 16px 0 16px;
}

.header-social-item {
  float: left;
  padding: 0 4px 0;
}
.header-social-item > a {
  text-align: center;
}

/*page-main*/
.page-main {
  padding-bottom: 32px;
}

/* Section breadcrumb */
.section-breadcrumb {
  background-image: url("../images/banner.png");
}

.breadcrumb-item {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  padding: 60px 0 60px 14px;
  font-size: 12px;
}

.breadcrumb li + li:before {
  padding: 0 0.5em 0 0;
  color: black;
  content: "/   ";
}

.main-content {
  padding: 64px 0 0;
}

/* Sidebar */
.sidebar-left {
  width: 25%;
  float: left;
}

.menu-item {
  padding-bottom: 32px;
}

.dropdown {
  background-color: #D9E4E9;
  padding: 1em;
}

.dropdown-content {
  padding: 1em 0 2em;
}

.menu-item-title {
  float: left;
}

.minus {
  float: right;
  background-color: #D9E4E9;
  border: 0;
}

.category-item {
  padding: 10px 5px;
}

/* Form sidebar */
.sidebar-left-form {
  background-color: #D9E4E9;
  padding: 1em;
}

.sb-form-title {
  padding-bottom: 1em;
}

.blue-line:after {
  display: block;
  content: "";
  width: 30%;
  border: 1px solid #62c6f8;
}

.form-book-schedule {
  padding-top: 8px;
}

.input-control {
  padding: 10px 1em 0 0;
}

.input-control-item {
  width: 100%;
  padding: 5px;
}

.btn-send {
  text-align: center;
  padding-top: 10px;
}

#btn-send {
  padding: 10px;
  text-transform: uppercase;
  width: 50%;
  background-color: #4BBC56;
}

/*Main-content*/
.main-right {
  float: right;
  width: 75%;
}

.service-item {
  float: left;
  width: calc(100% / 3 - 1em);
  padding-bottom: 1em;
  box-shadow: 1px 1px 1px grey;
  margin-left: 1em;
  margin-bottom: 1em;
}

.category-item:before {
  content: "•";
  color: grey;
  padding-right: 0.5em;
}

.service-item {
  padding-bottom: 1em;
  position: relative;
}

.service-image {
  width: 100%;
  height: 180px;
}

.service-content {
  padding: 4%;
  padding-bottom: 8%;
}

.service-content h3 {
  padding-bottom: 4%;
}

.service-content p {
  font-size: 12px;
  line-height: 130%;
}

#btn-more {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #62C6F8;
  color: #FFF;
}

/* Footer */
.page-footer {
  background-color: #62C6F8;
  padding-top: 1em;
}

.footer-content {
  padding: 20px 0;
}

.footer-bottom {
  padding-bottom: 20px;
}

.footer-link {
  color: white;
}

.footer-info {
  padding: 3em;
}

.info-item-title {
  padding-bottom: 1em;
}

.footer-bottom::before {
  display: block;
  content: "";
  border-top: 1px solid #fff;
}

.info-item {
  float: left;
  width: 33.33%;
}

.info-link, .footer-copyright, .footer-author {
  text-transform: uppercase;
}

.sub-info-item {
  padding: 0.4em 0;
  cursor: pointer;
}

.sub-info-item::before {
  content: "•";
  color: #FFF;
  padding-right: 5px;
}

.footer-copyright {
  float: left;
}

.footer-author {
  float: right;
}

.footer-address {
  padding: 1.5em 0;
  line-height: 120%;
}

/*# sourceMappingURL=styles.css.map */
