<header class="page-header">
  <div class="header-top clearfix">
    <div class="container">
      <div class="top-logo pull-left clearfix">
        <div class="img-logo">
          <a href="#"><img src="../../../assets/images/logo.png" alt="img-logo"></a>
        </div>
        <div class="h-top-info">
          <b class="top-info-title">Specialized Clinic</b>
          <p class="top-info-content">Physiotherapy - Rehabilitation</p>
        </div>
      </div>
      <div class="header-top-right pull-right clearfix">
        <img src="../../../assets/images/ic-tele.png" alt="icon-phone" class="ic-tele">
        <p class="t-r-info">
          <i>Question for the doctor? </i>
          <span class="phone-number txt-primary">05113941 977</span>
        </p>
      </div>
    </div>
  </div>
  <div class="header-bottom clearfix">
    <div class="container">
      <nav class="header-menu pull-left">
        <ul class="header-menu-list clearfix">
          <li class="header-menu-item"><a href="" class="menu-link">Home</a></li>
          <li class="header-menu-item"><a href="" class="menu-link">About Us</a></li>
          <li class="header-menu-item"><a href="" class="menu-link">Health Services</a></li>
          <li class="header-menu-item"><a href="" class="menu-link">Regular Medicine</a></li>
          <li class="header-menu-item"><a href="" class="menu-link">Set Calendar</a></li>
          <li class="header-menu-item"><a href="" class="menu-link">Consult &amp; Contact</a></li>
        </ul>
      </nav>
      <ul class="header-social-list pull-right">
        <li class="header-social-item"><a href="" class="social-item-link"><img src="../../../assets/images/icon-fb.png" alt="icon facebook"></a></li>
        <li class="header-social-item"><a href="" class="social-item-link"><img src="../../../assets/images/icon-gmail.png" alt="icon gmail"></a></li>
        <li class="header-social-item"><a href="" class="social-item-link"><img src="../../../assets/images/icon-youtube.png" alt="icon youtube"></a></li>
      </ul>
    </div>
  </div>
</header>
