<footer class="page-footer txt-white">
  <section class="footer-info">
    <div class="container">
      <ul class="info-list clearfix">
        <li class="info-item">
          <h3 class="info-item-title">About Us</h3>
          <ul class="sub-info-list">
            <li class="sub-info-item"><a href="" class="footer-link">General Introduction</a></li>
            <li class="sub-info-item"><a href="" class="footer-link">Human</a></li>
            <li class="sub-info-item"><a href="" class="footer-link">Facilities And Facilities</a></li>
          </ul>
        </li>
        <li class="info-item">
          <h3 class="info-item-title">Support</h3>
          <ul class="sub-info-list">
            <li class="sub-info-item"><a href="" class="footer-link">Health Counseling</a></li>
            <li class="sub-info-item"><a href="" class="footer-link">Regular Medicine</a></li>
            <li class="sub-info-item"><a href="" class="footer-link">Schedule Appointments</a></li>
          </ul>
        </li>
        <li class="info-item">
          <h3 class="info-item-title">Social Connection</h3>
          <ul class="sub-info-list">
            <li class="sub-info-item">
              <a href="" class="footer-link"><span class="footer-facebook-img">Facebook</span></a>
            </li>
            <li class="sub-info-item">
              <a href="" class="footer-link"><span class="footer-google-img">Google+</span></a>
            </li>
            <li class="sub-info-item">
              <a href="" class="footer-link"><span class="footer-youtube-img">Youtube</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-address">
        <span class="footer-copyright pull-left">&copy; 2018 &#45; Copyright Of Specialized Clinic</span>
        <span class="footer-author pull-right">Design By DD.Com</span>
      </div>
    </div>
  </div>
</footer>
